In [1]:
import MySQLdb

#Open Connection
db = MySQLdb.connect("localhost", "root", "pass", "testdb")

cursor = db.cursor()

createTable = "create table doctors( \
               docID int(11) NOT NULL, \
               name VARCHAR(50), \
               speciality VARCHAR(50), \
               numReviews int(11), \
               city tinytext, \
               state varchar(2), \
               PRIMARY KEY ( docID ) \
                );"
try:
    cursor.execute(createTable)
    db.commit()
    
except:
    db.rollback()

In [2]:
fh = open('doctors.txt', 'r')
lines = fh.readlines()
myList = []
newList = []

for line in lines:
    myList.append(line.rstrip('\n').split(','))
    
for i in range(len(myList)):
    myList[i][0] = int(myList[i][0])
    myList[i][3] = int(myList[i][3])

newList = [tuple(i) for i in myList]

In [3]:
for i in newList:
    insert = "insert into doctors(docID, name, speciality, numReviews, city, state) \
    values" + str(i)
    cursor.execute(insert)
    
db.commit()

In [4]:
def function1():
    try:
        query = "select count(*) from doctors where state like 'MD'"
        cursor.execute(query)
        results = cursor.fetchone()
        totalDoctors = results[0]
        print("The Total Number of Doctors in the state of MD is",totalDoctors)
        
    except:
        print("Unable to Fetch Data!")
    
    try:
        query = "select avg(numReviews) from doctors where state like 'MD'"
        cursor.execute(query)
        results = cursor.fetchone()
        avgReviews = results[0]
        print("The Average Number of Reviews in the sate of MD is",avgReviews)   
        
    except:    
        print("Unable to Fetch Data!")

    
function1()

The Total Number of Doctors in the state of MD is 8536
The Average Number of Reviews in the sate of MD is 3.4866

In [16]:
def function2():
    try:
        query = """select name, speciality from doctors
                   where state like 'MD'
                   order by numReviews desc
                   limit 10; 
                """
        cursor.execute(query)
        results = cursor.fetchall()
        print("Name", "\t \t \t", "Speciality")
        for rows in results:
            name = rows[0]
            speciality = rows[1]
            print(name, "\t", speciality)
            
    except:
        print("Unable to Fetch Data!")
    
function2()

Name 	 	 	 Speciality
Dr. Paul J. Mackoul 	 Gynecologist (OBGYN)
Dr. Franklin D. Richards 	 Cosmetic Surgeon / Plastic Surgeon
Dr. Lucie Duclos 	 Cosmetic Surgeon / Plastic Surgeon
Dr. Roanne J. Wiczer 	 Dentist
Dr. Kurt J. Bennett 	 Optometrist
Dr. Neal Kravitz 	 Orthodontist
Dr. George L. Grillon 	 Oral Surgeon
Dr. Douglas L. Forman 	 Cosmetic Surgeon / Plastic Surgeon
Dr. Chris E. Majewski 	 Podiatrist
Dr. Kurt Pierce 	 Orthodontist

In [18]:
def function3():
    try:
        query = """update doctors set state = 'U'
                   where state like '-';"""
        cursor.execute(query)
        db.commit()        
    except:
        db.rollback()
        
    try:
        query = """select count(*) from doctors
                   where state like 'U';"""
        cursor.execute(query)
        results = cursor.fetchone()
        rows = results[0]
        print("Number of rows where State not present is",rows)
        
    except:
        print("Unable to Fetch Data!")
           
function3()

Number of rows where State not present is 155

In [ ]:
#close connect
db.close()